.post, .subreddit_c, .subreddit_p, .index, .comment {
  display: inline;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px ;
}

.subreddit_c, .subreddit_p, .index {
  font-weight: bold;
}

/*.post, .subreddit_p {
  display: none;
}*/

.btn-group button {
  background-color: #FFFFFF; /* Green background */
  border: 1px solid #DBDBDB; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #209CEE;
  color: white;
}