.thread, .subreddit_c, .subreddit_t, .index, .comment {
  display: inline;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px ;
}

.subreddit_c, .subreddit_t, .index {
  font-weight: bold;
}

.btn-group button {
  background-color: #FFFFFF; 
  border: 1px solid #DBDBDB; 
  color: black; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #209CEE;
  color: white;
}

.btn-group button:active {
  background-color: #209CEE
}

.searchBox {
  width: 317px;
  height: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/*.grid-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-header {
  grid-column-start: 3;
}
*/

/*.comment, .thread, .subreddit_p, .subreddit_c, .index {
  display: none;
}*/

.grid-header-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  justify-items: center;

}

.grid-header {
  grid-column-start: 2;
}

.saves-grid-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 3% 94% 3%;
}

.saves-grid {
  grid-column-start: 2;
}

.comments-grid-container {
  margin-top: 2px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 1% 98% 1%;
}

.comments-grid {
  grid-column-start: 2;
  padding: 5px;
  border-left: 1px solid #DBDBDB;
  border-top: 1px dotted #DBDBDB;
  border-spacing: 5px;
}

pre {
  white-space:pre-wrap
}