html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  background-image: url("assets/background.png");
}

a {
  text-decoration: none;
  color: blue;
}

pre {
  white-space: pre-wrap
}

.grid-header-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1% 98% 1%;
  justify-items: center;
  background-size: 100px 100px;
}

.grid-header {
  grid-column-start: 2;
  margin-bottom: 10px;
}


.btn-group button {
  background-color: #FFFFFF; 
  border: 1px solid #919191; 
  border-radius: 2px;
  color: black; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
  margin-left: 3px;
  -webkit-animation: image_blur_buttons 2s; 
}

.btn-group button:hover {
  background-color: #209CEE;
  color: white;
}

.btn-group button:active {
  background-color: #209CEE
}

#all-saves, #only-threads, #only-comments {
  font-family: 'IBM Plex Sans', sans-serif, Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.searchBox {
  width: 345px;
  height: 35px;
  margin-top: 5px;
  margin-left: 3px;
  background-color: white;
  border: 1px solid #919191;
  border-radius: 3px;
  text-indent: 40px;
  font-family: 'IBM Plex Sans', sans-serif, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: #fcfcfc;
  font-size: 16px;
  -webkit-animation: image_blur_searchbar 2s; 
}

.searchBox::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


.fa { /* font awesome */
  position: relative;
  right: 330px;
  color: #919191;
  -webkit-animation: image_blur_searchbar 3s; 
}

.threadOnly, .subreddit_c, .subreddit_t, .index, .comment {
  display: inline;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #222222;
  font-size: 14px ;
}

@media screen and (max-width: 760px) {
  .comment, .index {
    font-size: 15px;
  }
}

.thread {
  display: inline;
  color: #222222;
  font-family: 'IBM Plex Sans', sans-serif, Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.save-wrapper-threadsOnly {
  padding-bottom: 3px;
  border-top: 1px dotted #e1e1e1;
  grid-column-start: 2;
  line-height: 1.1;
  word-break: break-word;
}

@media screen and (max-width: 760px) {
  a.titleOnly {
    display: block;
    margin-left: 3%;
    margin-bottom: 29px;
    margin-top: 4px;
    line-height: 1.1;
    border-left: 1px solid #DBDBDB;
    border-top: 1px solid #e1e1e1;
    border-spacing: 5px;
    padding: 5px;
    font-family: 'IBM Plex Sans', sans-serif, Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .save-wrapper-threadsOnly {
    border-top: none;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.subreddit_c, .subreddit_t, .index {
  font-weight: bold;
}

.saves-grid-container {
  padding: 25px 0;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 3%;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border: 1px solid #DBDBDB;
  border-top: 3px solid pink;
  -webkit-animation: image_blur_saves 4.5s; 
}

.growSavesGridContainer {
  width: 95%;
  padding-left: 1%;
  padding-right: 1%;
}

@media screen and (max-width: 760px) {
  .saves-grid-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .save-wrapper, .save-wrapper-threadsOnly {
    margin-left: 2%;
    margin-right: 7%;
  }

  .growSavesGridContainer {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.comments-grid-container, .title-grid-container {
  margin-top: 4px;
  margin-bottom: 29px;
  display: grid;
  grid-template-columns: 3% 98% 1%;
  word-break: break-word;
}

.comments-grid, .title-grid {
  grid-column-start: 2;
  padding: 5px;
  border-left: 1px solid #DBDBDB;
  border-top: 1px solid #e1e1e1;
  border-spacing: 5px;
}


@-webkit-keyframes image_blur_buttons {
    0% { -webkit-filter: opacity(0%);}
    15% { -webkit-filter: opacity(0%);}
    100% { -webkit-filter: opacity(100%);}
}

@-webkit-keyframes image_blur_searchbar {
    0% { -webkit-filter: opacity(0%);}
    40% { -webkit-filter: opacity(0%);}
    100% { -webkit-filter: opacity(100%);}
}

@-webkit-keyframes image_blur_saves {
    0% { -webkit-filter: opacity(0%);}
    40% { -webkit-filter: opacity(0%);}
    100% { -webkit-filter: opacity(100%);}
}