.saves-grid-container {
  padding: 25px 0;
  width: 700px;
  margin: 0 auto 0 auto;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-top: 3px solid pink;
  -webkit-animation: image_blur_saves 4.5s;
  box-shadow: 0px 4px 20px -10px rgba(62, 92, 118, 0.2),
    0px 50px 50px 11px rgba(128, 182, 236, 0.1);
}

.saves-grid {
  padding: 0 9% 0 4%;
}

@media screen and (max-width: 760px) {
  .saves-grid-container {
    border: none;
    border-top: 3px solid pink;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .saves-grid {
    padding: 0 8% 0 5%;
  }
}
